*, *:focus, *:active {
  outline: 0 !important;
}

.rightFilter {
    background-color: #F5F5F5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 30px 20px;
    position: relative;
    z-index: 3;
}
.rightFilter .media-boxes-search {
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    background-color: #3897D5;
    -webkit-box-shadow: 0px 8px 15px 0px rgb(56 151 213 / 20%);
    -moz-box-shadow: 0px 8px 15px 0px rgba(56,151,213,0.2);
    box-shadow: 0px 8px 15px 0px rgb(56 151 213 / 20%);
    border: none;
    padding: 0 10px;
    height: 47px;
}
.rightFilter .media-boxes-search input {
    width: calc(100% - 33px) !important;
    min-width: auto !important;
    max-width: initial !important;
}

.rightFilter .media-boxes-search .media-boxes-icon, .rightFilter .media-boxes-search .media-boxes-clear {
    height: 42px;
    line-height: 56px;
    background-color: #3897D5;
}

.rightFilter .media-boxes-search input[type=text] {
    height: 47px;
    background-color: #3897D5;
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.rightFilter .media-boxes-search input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF;
  opacity: 1; /* Firefox */
}

.rightFilter .media-boxes-search input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

.rightFilter .media-boxes-search input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF;
}
.filter-media {
  margin-top: 15px;
    position: relative
}
.filter-media h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #1813af;
  padding: 0 15px;
  margin-bottom: 10px;
}

.filterInput {
      width: 100%;
    /* height: 60px; */
    /* line-height: 60px; */
    border: 1px solid #DEDEDE;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 15.5px 25px;
    background-color: #ffffff;
    font-size: 1.4rem;
    color: #3E3F41;
    position: relative;
    cursor: pointer;
}

.filterInput p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.6rem;
}

.filterInput .filterPlus {
    position: absolute;
    right: 15px;
    top: 0;
    line-height: 67px;
}

.filterPlus svg {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.filterInput.open {
  background-color: #3E3F41;
  color: #ffffff;
}

.filterInput.open .filterPlus svg {
  transform: rotate(45deg);
}

.filterInput.open .filterPlus svg .cls-1 {
  stroke: #ffffff !important;
}

.filterMediaSelect {
  width: 100%;
  position: absolute;
  margin-top: 0px;
  padding: 25px;
  background-color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #DEDEDE;
      z-index: 2;
}

.filterMediaSelect ul li {
  position: relative;
}

.filterMediaSelect ul li:not(:last-child) {
  margin-bottom: 15px;
}

.filterMediaSelect a {
  display: inline-block;
  color: #000000;
  padding-left: 30px;
}

.filterMediaSelect .filters li a::after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 1px solid #000000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.filterMediaSelect .filters li a.selected::after {
  border-color: transparent !important;
  background-color: #6DB5A1;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.media-boxes-checkboxes-checkmark {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.bootstrap-select .dropdown-menu li {
  font-size: 1.8rem;
}
.bootstrap-select .dropdown-menu li:not(:last-child) {
  margin-bottom: 15px;
}

.media-boxes-checkboxes-label input:checked ~ .media-boxes-checkboxes-checkmark {
  background-color: #6DB5A1 !important;
  border-color: transparent;
}

.filterTags {
  margin-top: 25px;
  font-size: 1.4rem;
  padding: 0 15px;
}
.filterTags ul li {
    position: relative;
    display: inline-block;
    background-color: #6DB5A1;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    margin: 3px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    line-height: 1.5;
    /* padding-right: 30px; */
    padding-right: 0;
}

/* .filterTags ul li:nth-child(odd) {
  display: none;
} */

/* .filterTags ul li::after {
      display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 8px;
} */

.filterTags ul li a {
    color: #ffffff;
    /* display: inline-block;
    margin-left: 10px; */
    width: 14px;
    height: 14px;
    /* background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center center; */
    /* -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); */
    top: 1px;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    /* padding: 0; */
    padding-right: 29px;
}

.filterTags ul li a::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 8px;
}

.filterTags ul li a span {
  text-indent: initial;
}

.bootstrap-select {
  width: 100% !important;
}

.bootstrap-select .dropdown-toggle {
    padding: 19px 25px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  font-size: 1.6rem;
}

/* .dropdown-menu.open {
  padding: 30px 30px !important;
} */

.dropdown-menu {
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  border-radius: 16px !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: transparent !important;
}

.bootstrap-select .dropdown-menu li.selected span::before {
  display: none !important;
}

/* .arrow-top:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid black;
} */

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #DEDEDE;
	border-width: 10px;
	margin-left: -10px;
}

@media(max-width: 991px) {
  .peopleSection h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
      text-align: center
  }

  .peoples-right {
    margin-bottom: 5rem;
  }

  .am-btn {
      padding: 12px;
      top: 2px !important;
  }

  .media-box-content p {
    font-size: 1.4rem !important;
    line-height: 1.5;
  }

  .media-box-content h2 {
    font-size: 2rem !important;
  }
    
    .filterInput {
        font-size: 1rem;
    }
    
    .rightFilter .media-boxes-search input[type=text] {
        font-size: 1.2rem;
    }
}

@media(min-width: 992px) {
  .peoples-right {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 100px;
  }
}

@media(min-width: 1200px) {
  .media-boxes-checkboxes-label {
    font-size: 14px !important;
  }
}

@media(min-width: 1900px) {}